.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
}
li{
  font-family: Verdana, Geneva, sans-serif;
}

th {
  text-align: left;
}

p{
  font-family:"Serif", georgia;
}

h1{
  font-family: Verdana, Geneva, sans-serif;
}
body{

  color:white;
  background-image: url('abovethelaw.jpeg');
}
