<div class="container">
<h2>Create Post</h2>
<br/>
<ul class="nav pull-right">
<li><a href="/">Home</a></li>
</ul>
<form action="/posts" method="post">
<%= erb(:_form_fields, :layout => false) %>
</form> 
</div> 
