<div class="container">
<h1>Matching Posts:</h1>
<ul>
<% if @tag_list %>  
<% @tag_list.each do |post| %>
  <li>
    <h4><a href="/posts/<%= post.id %>"><%= post.title %></a></h4>
    <p>Created: <%= post.created_at %></p>
  </li>
<% end %>
<% end %>
</ul>
</div>
